using AdventOfCode.Core.Classes;

namespace AdventOfCode.Challenges;

public class Day{{day_number}} : SolutionBase
{
    public override int Day => {{day_number}};

    public override object PartOne(string[] input)
    {
        throw new NotImplementedException();
    }

    public override object PartTwo(string[] input)
    {
        throw new NotImplementedException();
    }
}
