using AdventOfCode.Challenges;
using NUnit.Framework;

namespace AdventOfCode.Tests;

[TestFixture]
public class Day{{day_number}}Test
{
    private Day{{day_number}} _day{{day_number}};

    private readonly string[] input =
    [
        "testvalue"
    ];

    [SetUp]
    public void Setup()
    {
        _day{{day_number}} = new Day{{day_number}}();
    }
    
    [Test]
    public void Example_Part1_ShouldReturn123()
    {
        // act
        var result = _day{{day_number}}.PartOne(input);
    
        // assert
        Assert.That(result, Is.EqualTo(123));
    }

    [Test]
    public void Example_Part2_ShouldReturn123()
    {
        // act
        var result = _day{{day_number}}.PartTwo(input);

        // assert
        Assert.That(result, Is.EqualTo(123));
    }
}
